---
import { FaDiscord, FaInstagram, FaGithub, FaBrain } from "react-icons/fa6";
import { FaEnvelope } from "react-icons/fa6";
import { CiLinkedin } from "react-icons/ci"; // 👈 Circum Icons
---

<footer
  class="bg-[hsl(28,27%,86%)] text-black font-semibold py-8 flex justify-center text-sm md:text-base"
>
  <div class="grid grid-cols-1">
    <a
      class="flex items-center gap-2 hover:underline"
      href="mailto: aiclub.atosu@gmail.com"
    >
      <FaEnvelope />
      aiclub.atosu@gmail.com

    </a>
    <a
      class="flex items-center gap-2 hover:underline"
      href="https://www.instagram.com/osu_aiclub/"
    >
      <FaInstagram />
      osu_aiclub
    </a>
    <a
      class="flex items-center gap-2 hover:underline w-full"
      href="https://discord.gg/2rncuBvaUC"
    >
      <FaDiscord />
      discord.gg/2rncuBvaUC
    <a
      class="flex items-center gap-2 hover:underline w-full"
      href="https://www.linkedin.com/company/108109046/"
    >
      <CiLinkedin />
      Artificial Intelligence Club
    </a>
        <a
      class="flex items-center gap-2 hover:underline w-full"
      href="https://apps.ideal-logic.com/osusee?key=F3T9-25VWY_5878-CZ4R_0a27fcc4"
    >
      <FaBrain />
      Ideal-Logic Invite
    </a>

  </div>
</footer>
