---
import Default from "../layouts/Default.astro";
import OfficerCard from "@/components/OfficerCard.astro";

interface Officer {
  name: string;
  role: string;
  imagePath: string;
}

const officers: Officer[] = [
  {
    name: "Marat Muzaffarov",
    role: "President",
    imagePath: "/src/assets/officers/marat.png",
  },
  {
  name: "Mahmoud Fakhry",
  role: "Vice President",
  imagePath: "/src/assets/officers/mahmoud.png",
  },
  {
  name: "Justin Lee",
  role: "Treasurer",
  imagePath: "/src/assets/officers/justin.png",
  },
  {
  name: "Noah Pragin",
  role: "Project Manager",
  imagePath: "/src/assets/officers/noah.png",
  },
  {
  name: "Seth Gleason",
  role: "Outreach Manager",
  imagePath: "/src/assets/officers/seth.png",
  },
  {
  name: "Jiya Pradhan",
  role: "Secretary",
  imagePath: "/src/assets/officers/jiya.png",
  },
  {
  name: "Kellen Sullivan",
  role: "Project Officer",
  imagePath: "/src/assets/officers/kellen.png",
  },
  {
  name: "Lauren Gliane",
  role: "Project Officer",
  imagePath: "/src/assets/officers/lauren.png",
  },
  {
  name: "Ally Chen",
  role: "Project Officer",
  imagePath: "/src/assets/officers/ally.png",
  },
  {
  name: "Faith Nambasa",
  role: "Event Coordinator",
  imagePath: "/src/assets/officers/faith.png",
  },
  {
  name: "Daniel Martin",
  role: "Event Coordinator",
  imagePath: "/src/assets/officers/daniel.png",
  },
  {
  name: "Zheng Chen",
  role: "Event Coordinator",
  imagePath: "/src/assets/officers/zheng.png",
  },
  {
  name: "Vikram Vasudevan",
  role: "Public Relations Officer",
  imagePath: "/src/assets/officers/vikram.png",
  },
  {
  name: "Siya Sonpatki",
  role: "Social Media Manager",
  imagePath: "/src/assets/officers/siya.png",
  },

];
---

<Default>
  <div class="text-white max-w-[46rem] space-y-12 mx-8">
    <div class="space-y-2">
      <h2 class="text-5xl text-center font-semibold">Who are we?</h2>
      <p class="text-justify">
        At the ACM Student Chapter at OSU, we unite students with an interest in
        computer science. We offer a mix of professional development and social
        activities, ensuring our members thrive both academically and socially.
      </p>
    </div>
    <div class="space-y-2">
      <h2 class="text-5xl text-center font-semibold mb-6">Our Team</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
        {
          officers.map((officer) => (
            <OfficerCard
              name={officer.name}
              role={officer.role}
              imagePath={officer.imagePath}
            />
          ))
        }
      </div>
    </div>
  </div>
</Default>
