---
import Default from "../layouts/Default.astro";
import Marquee from "@/components/ui/marquee";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import heroAcm from "@/assets/acm.svg";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png}",
);
const imageResolvers = Object.values(images);

const topMarqueeImages = imageResolvers.slice(0, imageResolvers.length / 2);
const botMarqueeImages = imageResolvers.slice(imageResolvers.length / 2);

const BANNER_MESSAGE = undefined;
---

<Default bannerMessage={BANNER_MESSAGE}>
  <div
    class="my-5 mx-auto max-w-[50rem] bg-background text-white rounded-md font-mono drop-shadow-2xl border-2"
  >
    <div class="border-b-2 h-6 pl-2 flex items-center space-x-2">
      <div class="h-3 w-3 bg-white rounded-full"></div>
      <div class="h-3 w-3 bg-white rounded-full"></div>
      <div class="h-3 w-3 bg-white rounded-full"></div>
    </div>
    <!-- <Image
      class="p-4 md:hidden"
      src={heroAcm}
      alt="Association for Computing Machinery"
      height="300"
    /> -->
    <p class="font-bold text-4xl p-5 font-mono md:text-7xl md:p-7">

      Artificial <br /> ‎ Intelligence <br />
      ‎ ‎ ‎ Club @ OSU
    </p>
  </div>
  <div class="space-y-2 text-white my-12 max-w-[60rem]">
    <h2 class="text-4xl text-center font-semibold">
      Learn, build, and innovate with AI
    </h2>
    <p class="text-center px-12">
    At OSU’s AI Club, students explore machine learning through hands-on
    projects, interactive workshops, and talks from industry 
      experts—building skills that go beyond the classroom. 
    </p>
  </div>
  <div class="my-4">
    <Marquee className="[--duration:40s]">
      {
        topMarqueeImages.map((resolver) => (
          <Image
            class="rounded-lg h-64"
            src={resolver()}
            alt="ACM Event Image"
            height="300"
          />
        ))
      }
    </Marquee>
    <Marquee reverse className="[--duration:40s]">
      {
        botMarqueeImages.map((resolver) => (
          <Image
            class="rounded-lg h-64"
            src={resolver()}
            alt="ACM Event Image"
            height="300"
          />
        ))
      }
    </Marquee>
  </div>
</Default>
