---
import Default from "../layouts/Default.astro";
import ResourceCard, { type Resource } from "@/components/ResourceCard.astro";

const TUTORIALS: Resource[] = [
  {
    title: "Python",
    link: "https://www.learnpython.org/",
    description: "An external tutorial to teach you Python",
  },
  {
    title: "Git",
    link: "https://rogerdudler.github.io/git-guide/",
    description: "A simple, external guide for getting started with git",
  },
  {
    title: "NumPy",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/numpy_tutorial.ipynb",
    description: "A Python Notebook we created to teach you NumPy",
  },
  {
    title: "Pandas",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/pandas_tutorial.ipynb",
    description: "A Python Notebook we created to teach you pandas",
  },
  {
    title: "MatPlotLib",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/matplotlib_tutorial.ipynb",
    description: "A Python Notebook we created to teach you matplotlib",
  },
];

const SLIDES: Resource[] = [
  {
    title: "Week 1: Problem & Dataset Selection",
    link: "https://docs.google.com/presentation/d/1_Ap964GPX7UonQ1eo10QadYX4moS7GZC-YlZph8eJY4",
    description: "Project Workshop introduction and problem and dataset selection",
  },
  {
    title: "Week 2: Digging Into Your Data",
    link: "https://docs.google.com/presentation/d/1XfqEhWRLvw5ubexbulSOOyGp5A9VH8EVHAl-26heEfk",
    description: "Splitting your data, exploratory data analysis, data preprocessing, and feature engineering",
  },
];

---

<Default>
  <div class="w-full max-w-2xl px-4 space-y-8 min-h-0">
    <div class="space-y-2">
      <h2 class="text-5xl text-center font-semibold">What is the<br>Project Workshop?</h2>
      <p class="text-justify">
        The Project Workshop takes place during the second hour of the AI Club's meetings, and is a place for students to work
        on individual machine learning projects with structured guidance and peer support. Students follow a 10-week roadmap
        designed to take them from project conception to deployment, regardless of their prior experience with coding or AI.
        Participants have the flexibility to choose their own project topics and spend most of their time coding,
        experimenting, and iterating on their models rather than sitting through lectures. By the end of the term, students
        will have completed a portfolio-ready project that demonstrates practical AI skills to potential employers or graduate
        programs.
      </p>
    </div>
    <ResourceCard resources={TUTORIALS} title="Tutorials" />
    <ResourceCard resources={SLIDES} title="Weekly Slides" />
  </div>
</Default>
