---
import Default from "../layouts/Default.astro";
import ResourceCard, { type Resource } from "@/components/ResourceCard.astro";

const TUTORIALS: Resource[] = [
  {
    title: "Python",
    link: "https://www.learnpython.org/",
    description: "An external tutorial to teach you Python",
  },
  {
    title: "Git",
    link: "https://rogerdudler.github.io/git-guide/",
    description: "A simple, external guide for getting started with git",
  },
  {
    title: "NumPy",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/numpy-tutorial.ipynb",
    description: "A Python Notebook we created to teach you NumPy",
  },
  {
    title: "Pandas",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/pandas-tutorial.ipynb",
    description: "A Python Notebook we created to teach you pandas",
  },
  {
    title: "MatPlotLib",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/matplotlib-tutorial.ipynb",
    description: "A Python Notebook we created to teach you matplotlib",
  },
];

const SLIDES: Resource[] = [
  {
    title: "Week 1: Problem & Dataset Selection",
    link: "https://docs.google.com/presentation/d/1_Ap964GPX7UonQ1eo10QadYX4moS7GZC-YlZph8eJY4",
    description: "Project Workshop introduction and problem and dataset selection",
  },
  {
    title: "Week 2: Digging Into Your Data",
    link: "https://docs.google.com/presentation/d/1XfqEhWRLvw5ubexbulSOOyGp5A9VH8EVHAl-26heEfk",
    description: "Splitting your data, exploratory data analysis, data preprocessing, and feature engineering",
  },
];

---

<Default>
  <!-- <h1 class="font-semibold text-5xl text-center mb-6">
    Resources for OSU<br />CS Students
  </h1> -->
  <div class="w-full max-w-2xl px-4 space-y-8 min-h-0">
    <ResourceCard resources={TUTORIALS} title="Tutorials" />
    <ResourceCard resources={SLIDES} title="Weekly Slides" />
  </div>
</Default>
