---
import Default from "../layouts/Default.astro";
import ResourceCard, { type Resource } from "@/components/ResourceCard.astro";

const CLUBS: Resource[] = [
  {
    title: "App Development Club",
    link: "https://osuapp.club",
    description: "Meets every Wednesday, 6-7pm at LINC303",
  },
  {
    title: "Hackathon Club",
    link: "#",
    description: "Meets every other Tuesdays, 6-7pm at LINC314",
  },
  {
    title: "Linux Users Group",
    link: "#",
    description: "Meets every Tuesday, 6pm at KEEC 1005",
  },
];

const DISCORDS: Resource[] = [
  {
    title: "Oregon State CS",
    link: "#",
    description: "Unofficial OSU EECS Discord server",
  },
  {
    title: "OSU Online CS Cohort",
    link: "#",
    description: "Unofficial OSU ECampus Discord server",
  },
];

const COMMUNITY = [...CLUBS, ...DISCORDS];

const COMP_PROGRAMMING: Resource[] = [
  {
    title: "Leetcode",
    link: "https://leetcode.com/",
    description: "Platform for practicing technical interview questions",
  },
  {
    title: "NeetCode",
    link: "https://neetcode.io/",
    description:
      "Roadmap for coding interview questions, featuring helpful video solutions",
  },
  {
    title: "Codeforces",
    link: "https://codeforces.com/",
    description:
      "Popular platform for hosting competitive programming contests",
  },
];

const FORECASTING: Resource[] = [
  {
    title: "EECS Course Forecast",
    link: "https://docs.google.com/spreadsheets/u/2/d/1s2tfkbiQQuEVG4jTj1lN6zF6McxphtIiCBrXO_WKl_4/htmlview#",
    description: "Forecasting of EECS classes for the next academic year",
  },
  {
    title: "Coursemink",
    link: "https://coursemink.com",
    description: "Scheduling tool designed to streamline course registration",
  },
];
---

<Default>
  <!-- <h1 class="font-semibold text-5xl text-center mb-6">
    Resources for OSU<br />CS Students
  </h1> -->
  <div class="w-full max-w-2xl px-4 space-y-8 min-h-0">
    <ResourceCard resources={COMMUNITY} title="Community" />
    <ResourceCard resources={FORECASTING} title="Forecasting" />
    <ResourceCard
      resources={COMP_PROGRAMMING}
      title="Competitive Programming"
    />
  </div>
</Default>
