---
import Default from "../layouts/Default.astro";
import ResourceCard, { type Resource } from "@/components/ResourceCard.astro";

const TUTORIALS: Resource[] = [
  {
    title: "Environment Setup",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/environment_setup_tutorial.md",
    description: "A document we created to set up your programming environment and get on the OSU servers",
  },
  {
    title: "Python",
    link: "https://www.learnpython.org/",
    description: "An external tutorial to teach you Python",
  },
  {
    title: "Git",
    link: "https://rogerdudler.github.io/git-guide/",
    description: "A simple, external guide for getting started with git",
  },
  {
    title: "NumPy",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/numpy_tutorial.ipynb",
    description: "A Python Notebook we created to teach you NumPy, a numerical processing library",
  },
  {
    title: "Pandas",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/pandas_tutorial.ipynb",
    description: "A Python Notebook we created to teach you pandas, a data handling library",
  },
  {
    title: "MatPlotLib",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/matplotlib_tutorial.ipynb",
    description: "A Python Notebook we created to teach you matplotlib, a graphing utility",
  },
  {
    title: "sci-kit learn",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/scikit_learn_tutorial.ipynb",
    description: "A Python Notebook we created to teach you scikit-learn, a library for training models",
  },
  {
    title: "PyTorch Quickguide",
    link: "https://github.com/npragin/ai-club-project-management/blob/main/tutorials/pytorch_quickguide.ipynb",
    description: "A Python Notebook we created to show you how to use PyTorch's pre-built models for your own projects",
  },
];

const SLIDES: Resource[] = [
  {
    title: "Week 1: Setup & Learning New Skills",
    link: "https://docs.google.com/presentation/d/1ZUaM87qIPGbpf26SnlixluR_Qz4fDzvtmiw0bO50dPg",
    description: "Project Workshop intro, environment setup, tutorials, and project ideation",
  },
  {
     title: "Week 2: Problem & Dataset Selection",
     link: "https://docs.google.com/presentation/d/1_Ap964GPX7UonQ1eo10QadYX4moS7GZC-YlZph8eJY4",
      description: "Problem and dataset selection with examples and dataset repositories",
  },
  {
    title: "Week 3: Digging Into Your Data",
    link: "https://docs.google.com/presentation/d/1XfqEhWRLvw5ubexbulSOOyGp5A9VH8EVHAl-26heEfk",
    description: "Splitting your data, exploratory data analysis, data preprocessing, and feature engineering",
  },
  {
     title: "Week 4: Models and Hyperparameters",
     link: "https://docs.google.com/presentation/d/1E9YC-p1tce_AjrsK-AHIhVO5XaIp-vEEuCeF4kBBSA4",
      description: "Overview of different models' strengths and weaknesses, and how to tune hyperparameters",
  },
  {
     title: "Week 5: Catch Up or Get Ahead",
     link: "https://docs.google.com/presentation/d/1sKvdQYm2PF5UsI71tAtXEpfD1Gzy2YYf17J4heRtFns",
      description: "No new content, just an opportunity to catch up or get ahead on your project",
  },
  {
    title: "Week 6: Final Model Selection",
    link: "https://docs.google.com/presentation/d/1R_-x12OhpkeXESiEqpvnNKI9gY82IgYnPznyPcASvbA",
    description: "Selecting your final model and tuning it comprehensively",
  },
  {
    title: "Week 7: Deployment Planning",
    link: "https://docs.google.com/presentation/d/1sYaFUSZqaaUC8sNd4KxwbEkzKRVn1nHfOBAyeHbYLN8",
    description: "Designing your project's deployment and choosing a tool for the job",
  },
  {
    title: "Week 8: Deployment Implementation",
    link: "https://docs.google.com/presentation/d/1umjL7zVcCaHixP2PbwtzbxfAWiFA5uSARXYQAxZP3rM",
    description: "Implementing your project's interface and deployment pipeline",
  },
];

const EXAMPLE_PROJECT: Resource[] = [
  {
     title: "Week 2: Problem & Dataset Selection",
     link: "https://github.com/npragin/ai-club-project-management/tree/main/example_project/week_2",
      description: "Example code showing how to load a dataset and do some basic inspection",
  },
  {
     title: "Week 3: Digging Into Your Data",
     link: "https://github.com/npragin/ai-club-project-management/tree/main/example_project/week_3",
      description: "Example code showing how to split your data, EDA, and preprocess your data",
  },
  {
     title: "Week 4: Models and Hyperparameters",
     link: "https://github.com/npragin/ai-club-project-management/tree/main/example_project/week_4",
      description: "Example code showing how to load your model, train it, tweak it, and evaluate it",
  },
  {
    title: "Week 6: Final Model Selection",
    link: "https://github.com/npragin/ai-club-project-management/tree/main/example_project/week_6",
    description: "Example code showing how to select your final model and tune it comprehensively",
  },
  {
    title: "Week 7-9: Deployment",
    link: "https://github.com/npragin/ai-club-project-management/tree/main/example_project/week_7",
    description: "Example code showing how to deploy your model to a web application using Streamlit",
  },
];

---

<Default>
  <div class="w-full max-w-2xl px-4 space-y-8 min-h-0">
    <div class="space-y-2">
      <h2 class="text-5xl text-center font-semibold">What is the<br>Project Workshop?</h2>
      <h3 class="text-2xl text-center font-semibold">Meetings on Wednesdays in KEC 1001 @ 7-8pm</h3>
      <p class="text-justify">
        The Project Workshop takes place during the second hour of the AI Club's meetings, and is a place for students to work
        on individual machine learning projects with structured guidance and peer support. Students follow a 10-week roadmap
        designed to take them from project conception to deployment, regardless of their prior experience with coding or AI.
        Participants have the flexibility to choose their own project topics and spend most of their time coding,
        experimenting, and iterating on their models rather than sitting through lectures. By the end of the term, students
        will have completed a portfolio-ready project that demonstrates practical AI skills to potential employers or graduate
        programs.
      </p>
    </div>
    <ResourceCard resources={TUTORIALS} title="Tutorials" />
    <ResourceCard resources={EXAMPLE_PROJECT} title="Example Project" />
    <ResourceCard resources={SLIDES} title="Weekly Slides" />
  </div>
</Default>
