---
import Default from "../layouts/Default.astro";
import ResourceCard, { type Resource } from "@/components/ResourceCard.astro";

const MEETINGS: Resource[] = [
  {
    title: "Week 1: General & Project Meeting",
    link: "https://media.oregonstate.edu/playlist/dedicated/1_6ezgyls8/1_16331596",
    description: "[Oct. 1] Introduction to the Oregon State AI Club, officer team, and plans for upcoming project sessions.",
  },
  {
    title: "Week 2: General & Project Meeting",
    link: "https://media.oregonstate.edu/playlist/dedicated/1_6ezgyls8/1_jkapw14l",
    description: "[Oct. 8] Basics of linear algebra & statistics, mathematical foundations of AI/ML, and problem & dataset selection.",
  },
  {
    title: "Week 3: General & Project Meeting",
    link: "https://media.oregonstate.edu/playlist/dedicated/1_6ezgyls8/1_6qwme4nz",
    description: "[Oct. 15] Basics of supervised learning and data investigation to prepare for training your model.",
  },
];

const TECHTALKS: Resource[] = [
  {
    title: "Tech Talk #1: Kaushik Mitra",
    link: "https://media.oregonstate.edu/playlist/dedicated/1_6ezgyls8/1_8cm2j57o",
    description: "[Sept. 26] Guest speaker, Kaushik Mitra, discusses his professional journey in the tech industry and his path to becoming a Machine Learning Engineer at Google.",
  },
  {
    title: "Tech Talk #2: David Zier",
    link: "https://media.oregonstate.edu/playlist/dedicated/1_6ezgyls8/1_y0xl038n",
    description: "[Oct. 13] Guest speaker, David Zier, Director of Deep Learning System Software at NVIDIA, shares his insights on the future of AI, its role in the workplace, and more.",
  },
];

---

<Default>
  <div class="w-full max-w-2xl px-4 space-y-8 min-h-0">
    <div class="space-y-2">
      <h2 class="text-5xl text-center font-semibold">Recordings</h2>
      <p class="text-center">
        Catch up on our weekly meetings and special events here! 
      </p>
    </div>
    <ResourceCard resources={MEETINGS} title="Club Meetings" />
    <ResourceCard resources={TECHTALKS} title="Tech Talks" />
  </div>
</Default>
