---
import Default from "../layouts/Default.astro";
import ResourceCard, { type Resource } from "@/components/ResourceCard.astro";

const GENERAL: Resource[] = [
  {
    title: "Week 1: Introduction to AIC",
    link: "/pdfs/week_one_gm.pdf",
    description: "Introduction to the Oregon State Artificial Intelligence Club and our officer team.",
  },
  {
    title: "Week 2: Mathematical Foundations of AI/ML",
    link: "/pdfs/week_two_gm.pdf",
    description: "Basics of linear algebra & statistics, Frequentist vs Bayesian methods, and formulas for MLE & MAP.",
  },
  {
    title: "Week 3: General & Project Meeting",
    link: "/pdfs/week_three_gm.pdf",
    description: "Review from Week 2: overview of statistics, basics of supervised learning, Frequentist vs Bayesian methods, and formulas for MLE & MAP.",
  },
  {
    title: "Week 4: Exploring Graduate School Options in CS/AI",
    link: "/pdfs/week_four_gm.pdf",
    description: "Overview of graduate school and basic requirements of full-time graduate studies, part-time graduate studies, and OSU's Accelerated Masters Program.",
  },
  {
    title: "Week 8: Model Calibration and Adversarial Attacks",
    link: "https://docs.google.com/presentation/d/1BqGgIM0mZsR1yQIMcPG5SzoSjwrD4DmywrWmim7ERvY",
      description: "Overview of model calibration and adversarial attacks, and how to mitigate them",
  },
];

const PROJECT: Resource[] = [
  {
    title: "Week 1: Setup & Learning New Skills",
    link: "https://docs.google.com/presentation/d/1ZUaM87qIPGbpf26SnlixluR_Qz4fDzvtmiw0bO50dPg",
    description: "Project Workshop intro, environment setup, tutorials, and project ideation",
  },
  {
     title: "Week 2: Problem & Dataset Selection",
     link: "https://docs.google.com/presentation/d/1_Ap964GPX7UonQ1eo10QadYX4moS7GZC-YlZph8eJY4",
      description: "Problem and dataset selection with examples and dataset repositories",
  },
  {
    title: "Week 3: Digging Into Your Data",
    link: "https://docs.google.com/presentation/d/1XfqEhWRLvw5ubexbulSOOyGp5A9VH8EVHAl-26heEfk",
    description: "Splitting your data, exploratory data analysis, data preprocessing, and feature engineering",
  },
  {
     title: "Week 4: Models and Hyperparameters",
     link: "https://docs.google.com/presentation/d/1E9YC-p1tce_AjrsK-AHIhVO5XaIp-vEEuCeF4kBBSA4",
      description: "Overview of different models' strengths and weaknesses, and how to tune hyperparameters",
  },
  {
     title: "Week 5: Catch Up or Get Ahead",
     link: "https://docs.google.com/presentation/d/1sKvdQYm2PF5UsI71tAtXEpfD1Gzy2YYf17J4heRtFns",
      description: "No new content, just an opportunity to catch up or get ahead on your project",
  },
  {
    title: "Week 6: Final Model Selection",
    link: "https://docs.google.com/presentation/d/1R_-x12OhpkeXESiEqpvnNKI9gY82IgYnPznyPcASvbA",
    description: "Selecting your final model and tuning it comprehensively",
  },
  {
    title: "Week 7: Deployment Planning",
    link: "https://docs.google.com/presentation/d/1sYaFUSZqaaUC8sNd4KxwbEkzKRVn1nHfOBAyeHbYLN8",
    description: "Designing your project's deployment and choosing a tool for the job",
  },
  {
    title: "Week 8: Deployment Implementation",
    link: "https://docs.google.com/presentation/d/1umjL7zVcCaHixP2PbwtzbxfAWiFA5uSARXYQAxZP3rM",
    description: "Implementing your project's interface and deployment pipeline",
  },
];

---

<Default>
  <div class="w-full max-w-2xl px-4 space-y-8 min-h-0">
    <div class="space-y-2">
      <h2 class="text-5xl text-center font-semibold">Meeting Slides</h2>
      <p class="text-center">
        Catch up on our general and project meetings slides here! 
      </p>
    </div>
    <ResourceCard resources={GENERAL} title="General Meetings" />
    <ResourceCard resources={PROJECT} title="Project Workshops" />
  </div>
</Default>
