---
import logo from '../assets/logos/aic-logo-transparent.png';
---

<a href={import.meta.env.BASE_URL} class="flex items-center truncate shrink-0">
  <img src={logo.src} width={70} class="text-primary mr-2" /> AI Club @ OSU
</a>
