---
import { Icon } from "astro-icon/components";
---

<a href={import.meta.env.BASE_URL} class="flex items-center truncate shrink-0">
  <Icon name="logo" size={70} class="text-primary mr-2" /> at osu
</a>
